.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.btn-img-edit {
    background-image: url("/img/edit.png");
    width: 41px;
    height: 40px;

}

.btn-img-edit.editable {
    background-image: url("/img/save.png");
    width: 41px;
    height: 40px;
}

.btn-img-delete {
    background-image: url("/img/delete.png");
    width: 40px;
    height: 40px;
}